################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/menu1 zipped.zip
/menu1 zipped.zip
