################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/menu1 zipped.zip
/menu1 zipped.zip
/.vs/x cursed world/FileContentIndex
/.vs/x cursed world/v17/Browse.VC.opendb
