################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/menu1 zipped.zip
/menu1 zipped.zip
/.vs/x cursed world/FileContentIndex
/.vs/x cursed world/v17/Browse.VC.opendb
/.vs/x cursed world/FileContentIndex/c09e2ba8-1a3e-4421-9c46-9244cca1954b.vsidx
/.vs/x cursed world/FileContentIndex/00e25ba1-409c-4662-ba34-8e71da11af38.vsidx
/.vs
/x cursed world
/x64